@import './mixins.scss';
@import './nulling.scss';
:root{
    --font-size-title: 32px;
    --fon-size-p:23px;
    --color:#fff;
}
body{
    font-family: "Poppins", sans-serif;
    line-height: 22.4px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/*#region page*/
.page{
    &__menu{
        
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        
            opacity: 0;
            pointer-events: none;
            transition: all 0.8s;
            transform: translatex(100%);
    }

    &__menu:target{
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
    }

}


/*#endregion*/
/*#region header*/
.header {
    height: 60vh;
    background-size: cover;
    background-position: center right;
    box-sizing: border-box;
    background-image: url(/img/Cover_photo.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

&__title {
    position: relative;
    bottom: 88px;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: white;
    
    }   

&__bottom{
        padding-bottom: 40px;
        @include content-padding;
    }

    @media(min-width: 576px){
        height: 55vh;
        background-position: center;

       &__title{
       font-weight: 600;
       font-size: 64px;
       }
    }
   
}
/*#endregion*/
/*#region menu*/
.menu {
    height: 100vh;
    box-sizing: border-box;
    height: 60vh;
    background: #C2C2C2;
    font-weight: 600;
    text-transform: uppercase;

    &__phone-number {
        display: block;
        font-size: 16px;
        line-height: 27px;
        color: inherit;
        text-decoration: none;
        margin-bottom: 16px;
        
        
    }

    &__top{
        margin-bottom: 24px;
    }

    &__book-to-ride {
        display: block;
        padding-bottom: 7px;
        border-bottom: 1px solid black;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        color: inherit;
        width: fit-content;
        text-decoration: none;
        
    }

    &__nav{
        margin-bottom: 40px;
    }

    &__content{
        @include content-padding;
    }
}
/*#endregion*/

/*#region top-bar*/
.top-bar{
    padding-block: 24px;
    @include content-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icons{
            display: flex;
            gap: 24px; 

    }
    &__logo{
        display: flex;

        @media (min-width: 576px){
            padding: 36px 72px;
        }

        @include hover (transform, scale(1.2));
    }
}
/*#endregion*/
/*#region icons*/
.icon {
    display: block;
    height: 24px;
    width: 24px;
   
@include hover (transform, scale(1.2));
    
    @media (min-width: 576px){
        height: 36px;
        width: 36px;
    }
}
.icon--phone {
    background: url(/icons/Icon-Phone-call.svg) no-repeat;
}
.icon--menu {
    background: url(/icons/Icon-Burger-menu.svg) no-repeat;

    &:hover{
        background: url(/icons/Icon-Burger-menu-hover.svg) no-repeat;
    }
}

.icon--close {
    background: url(/icons/Icon-Close.svg) no-repeat;
   
}
/*#endregion*/

/*#region nav*/
.nav {

    &__list{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__link {
        position: relative;
        color: inherit;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;


        &::after{
            content: '';
            position: absolute;
            bottom: -8px;
            height: 1px;
            background-color: black;
            display: block;
            width: 100%;
            transition: transform 0.4s;
            transform: scale(0);
            transform-origin: left;
        }

        &:hover::after{
            transform: scale(1);
        }
    }

 
}
/*#endregion*/


/*#region compare*/

.main {
    background-color: #1d1d1d;

    &__description{

        h2{
            padding: 60px 0 32px 20px;
            font-size: var(--font-size-title);
            color: var(--color);
            font-weight: 500;
        }

        p{
            padding: 0 20px 0 20px;
            line-height: 32px;
            color: var(--color);
            font-weight: 500;
            font-size: var(--fon-size-p);
        }
    }

    &__compare {
        
        display: flex;
        flex-direction: column;
    }

    &__title{
        text-align: center;
        padding: 92px 20px 48px 20px;
        font-size: var(--font-size-title);
        color: var(--color);
    }

    &__bike1 {
    }

    &__bike2 {
    }

    &__bike3 {
    }

    &__bike--title{
        padding: 32px 20px 8px 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: var(--color);
    }
   
    &__bike--price{
        display: inline-block;
        color: var(--color);
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        padding: 16px 0 40px 20px;
    }
    .subtext{
        font-size: 16px;
        font-weight: 400;
        color: var(--color);
        padding: 0 20px 0 20px;
        
    }

   

}
 .details{
        &__content{
            margin-bottom: 40px;
            
        }

        &__image{
            display:flex;
            gap: 20px;
            justify-content: center;
            padding: 0 20px;
            
            
        img{
            flex-grow: 1;
            width: 130px;
            height: auto;
        }
           

        }

        &__title {
            padding: 16px 0 8px 20px;
            width: fit-content;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            color: var(--color);
        }
        &__subtext{
            

        }
    }
.bikes {
    img{
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}
/*#endregion*/

